<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Registration Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
  <!--Form is load and uses getter methods  when we submit it uses setter methods-->

  <h3>Employee Directory</h3>
  <hr>

  <p class="h4 mb-4">Save Employee</p>

  <!--Add hidden form field to handle update, we need this hidden field to bind the data to the model attribute and tell the app
  which employee to update, it is required for any update form-->
  <form th:action="@{/register/registerEmployee}"
        th:object="${employee}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <!--th:field="*{firstName}" select propertry on referenced th:object//basically from this object getFirstName-->
    <input type="text" th:field="*{firstName}"
           class="form-control mb-4 col-4" placeholder="First Name">

    <div th:if="${#fields.hasErrors('firstName')}"
         style="margin-bottom: 25px" class="text-danger">
      <ul>
        <li th:each="err : ${#fields.errors('firstName')}" th:text="'First Name ' + ${err}" />
      </ul>
    </div>

    <input type="text" th:field="*{lastName}"
           class="form-control mb-4 col-4" placeholder="Last Name">
    <input type="text" th:field="*{email}"
           class="form-control mb-4 col-4" placeholder="Email">
    <input type="text" th:field="*{username}"
           class="form-control mb-4 col-4" placeholder="Username">
    <input type="text" th:field="*{password}"
           class="form-control mb-4 col-4" placeholder="Password">
    <ul>
      <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"/>
    </ul>

<!--    there is no role because if you register yourself then you can only get the ROLE_USER, if you want admin or manager it must be assigned by an admin or manager-->

    <button type="submit" class="btn btn-info col-2">Save</button>

    <a th:href="@{/showLoginPage}">
      Back To Login
    </a>
  </form>
</div>
</body>
</html>